/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 *   4.1 - Site Header
 *   4.2 - Navigation
 * 5.0 - Content
 *   5.0.1 Custom Content
 *   5.13 - Multisite
 * 8.0 - Media Queries
 * 9.0 - Print
 * ----------------------------------------------------------------------------
 */


/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: MyriadPro-Regular, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(22, 22, 22);
  color: #141412;
  line-height: 1.5;
  margin: 0;
}

a {
  color: rgb(63, 105, 124);
  text-decoration: none;
}

a:visited {
  /*color: #ac0404;*/
}

a:focus {
  /*outline: thin dotted;*/
}

a:active,
a:hover {
  color: white;
  outline: 0;
}

a:hover {
  /*text-decoration: underline;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: OriyaMN, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
}

h1 {
  font-size: 48px;
  padding: 33px 0;
}

h2 {
  font-size: 30px;
  padding: 25px 0;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 22px;
  padding: 22px 0;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 20px;
  padding: 25px 0;
}

h5 {
  font-size: 18px;
  padding: 30px 0;
}

h6 {
  font-size: 16px;
  padding: 36px 0;
}

address {
  font-style: italic;
  margin: 0 0 24px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p {
  margin: 0 0 24px;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 14px;
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
}

pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 24px 40px;
}

blockquote blockquote {
  margin-right: 0;
}

blockquote cite,
blockquote small {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

blockquote em,
blockquote i {
  font-style: normal;
  font-weight: 300;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

small {
  font-size: smaller;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl {
  margin: 0 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 20px;
}

menu,
ol,
ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

ul {
  list-style-type: square;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

li > ul,
li > ol {
  margin: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  padding-right: 2px; /* Don't cut off the webkit search cancel button */
  width: 270px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

caption {
  font-size: 16px;
  margin: 20px 0;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0;
}

del {
  color: #333;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

hr {
  background: url(images/dotted-line.png) repeat center top;
  background-size: 4px 4px;
  border: 0;
  height: 1px;
  margin: 0 0 24px;
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
  font-family: OriyaMN;
  src: url(../fonts/OriyaMN.ttf);
}


/**
 * 2.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.format-audio .entry-content:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 16px/1 Genericons;
  vertical-align: text-bottom;
}

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
  clear: both;
}

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
  content: "";
  display: table;
}

/* Assistive text */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  height: 1px;
  width: 1px;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* Form fields, general styles first. */
button,
input,
textarea {
  /*border: 2px solid #d4d0ba;*/
  border: 2px solid white;
  border-radius: 2px;
  font-family: inherit;
  padding: 5px;
}

input,
textarea {
  color: #141412;
}

input:focus,
textarea:focus {
  /*border: 2px solid #c3c0ab;*/
  border: 2px solid white;
  border-radius: 2px;
  outline: 0;
}

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background: #e05d22; /* Old browsers */
  background: -webkit-linear-gradient(top, #e05d22 0%, #d94412 100%); /* Chrome 10+, Safari 5.1+ */
  background:   linear-gradient(to bottom, #e05d22 0%, #d94412 100%); /* W3C */
  border: none;
  border-bottom: 3px solid #b93207;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  padding: 11px 24px 10px;
  text-decoration: none;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
  background: #ed6a31; /* Old browsers */
  background: -webkit-linear-gradient(top, #ed6a31 0%, #e55627 100%); /* Chrome 10+, Safari 5.1+ */
  background:   linear-gradient(to bottom, #ed6a31 0%, #e55627 100%); /* W3C */
  outline: none;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
  background: #d94412; /* Old browsers */
  background: -webkit-linear-gradient(top, #d94412 0%, #e05d22 100%); /* Chrome 10+, Safari 5.1+ */
  background:   linear-gradient(to bottom, #d94412 0%, #e05d22 100%); /* W3C */
  border: none;
  border-top: 3px solid #b93207;
  padding: 10px 24px 11px;
}

.post-password-required input[type="submit"] {
  padding: 7px 24px 4px;
  vertical-align: bottom;
}

.post-password-required input[type="submit"]:active {
  padding: 5px 24px 6px;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: #7d7b6d;
}

:-moz-placeholder {
  color: #7d7b6d;
}

::-moz-placeholder {
  color: #7d7b6d;
}

:-ms-input-placeholder {
  color: #7d7b6d;
}

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
  max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
  max-width: 100%;
}

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
  max-width: 100% !important;
}

/* Images */
.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.wp-caption.alignleft,
img.alignleft {
  margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
  margin: 5px 10px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
  margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
  margin: 5px 0 5px 10px;
}

img.aligncenter {
  margin: 5px auto;
}

img.alignnone {
  margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
  color: #220e10;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 0 0 24px;
}

div.wp-caption.alignright img[class*="wp-image-"] {
  float: right;
}

div.wp-caption.alignright .wp-caption-text {
  padding-left: 10px;
}

img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
  list-style-position: inside;
}


/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */

.site {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}

.site-main {
  position: relative;
}

.site-main .sidebar-container {
  height: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1;
}

.site-main .sidebar-inner {
  margin: 0 auto;
  max-width: 1040px;
}


/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */

/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */

/**
 * TF Custom
 */
.menu-logo {
  position: absolute;
  top: 25px;
  left: 56px;
  width: 200px;
  height: 20px;
  background-image: url(../images/BFLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20000;
}

@media (max-width: 840px) {
  .menu-logo {
    left: 20px;
  }
}

.menu-social-buttons {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-right: 20px;
  text-align: center;
}

@media (max-width: 880px) {
  .menu-social-buttons {
    padding-left: 0;
  }
}

@media (max-width: 840px) {
  .menu-social-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

a.menu-social-button {
  height: 30px;
  width: 30px;
  margin: 5px !important;
  padding: 0 !important;
  display: inline-block !important;
  vertical-align: middle;
}

a.menu-social-button:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.social-button-fb {
  background-image: url(../images/socials/facebookButton.png);
}

.social-button-twit {
  background-image: url(../images/socials/twitterButton.png);
}

.social-button-yt {
  background-image: url(../images/socials/youTubeButton.png);
}

a.menu-social-button:hover {
  background-position: -30px 0;
}
 /**
 * TF End Custom
 */

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.site-header-buffer {
  height: 70px;
  background-color: rgb(22, 22, 22);
}

.site-header .home-link {
  color: #141412;
  display: block;
  margin: 0 auto;
  max-width: 1080px;
  min-height: 230px;
  padding: 0 20px;
  text-decoration: none;
  width: 100%;
}

.site-header .site-title:hover {
  text-decoration: underline;
}

.site-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 58px 0 10px;
}


/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */

.main-navigation {
  clear: both;
  position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
  margin: 0;
  padding: 14px 20px 14px 0;
  float: right;
}

.nav-menu li {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.nav-menu li a {
  color: #ffffff;
  display: block;
  font-size: 12px;
  font-family: OriyaMN, Helvetica, Arial, sans-serif;
  line-height: 1;
  letter-spacing: 0.4em;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: 100;

}

.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
  /*background-color: #220e10;*/
  color: #fff;
  font-weight: 900;
}

.nav-menu .sub-menu,
.nav-menu .children {
  background-color: #220e10;
  border: 2px solid #f7f5e7;
  border-top: 0;
  padding: 0;
  position: absolute;
  left: -2px;
  z-index: 99999;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
  border-left: 0;
  left: 100%;
  top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
  color: #fff;
  margin: 0;
  width: 200px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus {
  background-color: #db572f;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu .focus > ul,
.nav-menu .focus > ul {
  clip: inherit;
  overflow: inherit;
  height: inherit;
  width: inherit;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
  color: white;
  font-weight: bold;
}

.menu-toggle {
  display: none;
}

/* Navbar */
.navbar {
  background-color: rgb(22, 22, 22); /* TF Black */
  border-bottom: 1px solid #ffffff;
  /*min-height: 80px;*/
}

.site-header .search-form {
  position: absolute;
  right: 20px;
  top: 1px;
}

.site-header .search-field {
  background-color: transparent;
  background-image: url(images/search-icon.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  cursor: pointer;
  height: 37px;
  margin: 3px 0;
  padding: 0 0 0 34px;
  position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
  transition:         width 400ms ease, background 400ms ease;
  width: 1px;
}

.site-header .search-field:focus {
  background-color: #fff;
  border: 2px solid #c3c0ab;
  cursor: text;
  outline: 0;
  width: 230px;
}


/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */


/**
 * 5.0.1 Custom Content
 * ----------------------------------------------------------------------------
 */

.home-background {
  background-color: rgb(22, 22, 22); /* TF Teal (206, 220, 216) */
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.home-text {
  color: #ffffff;
  text-align: center;
  font-weight: 100;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.greenlight-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
}

.greenlight-banner-img {
  max-width: 100%;
}

.home-title {
  text-align: center;
  padding-top: 10px;
}

.home-title-img {
  position: absolute;
  top: 60px;
  max-width: 80%;
  z-index: 2;
}

.home-title-splash {
  max-width: 80%;
}

.primary-video {
  width: 100%;
  text-align: center;
}

.primary-video > img {
  width: 100%;
  max-width: 577px;
}

.home-platform-icons {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
}

.home-platform-icons > img {
  width: 100%;
  max-width: 680px;
}

.steam-widget {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.download-buttons-home {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.download-button {
  margin-right: 30px;
  margin-left: 30px;
  vertical-align: middle;
}

.button-steam {
  display: inline-block;
  width: 320px;
  height: 181px;
  text-decoration: none;
  background: url(../images/home/SteamButton.png);
}

.button-app-store {
  background: url(../images/home/AppStoreButton.png);
}

.button-play-store {
  background: url(../images/home/PlayStoreButton.png);
}

a.button-rollover {
  display: inline-block;
  width: 255px;
  height: 100px;
  text-decoration: none;
}

a.button-rollover:hover {
  background-position: -255px 0;
}

a.button-steam-rollover {
  display: inline-block;
  width: 163px;
  height: 110px;
  text-decoration: none;
}

a.button-steam-rollover:hover {
  background-position: -163px 0;
}

.header-accent {
  vertical-align: middle;
  padding-bottom: 6px;
}

@media (max-width: 650px) {
  .h3-4S-hotfix {
    font-size: 20px;
  }
}

.about-game {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 40px;
  text-align: left;
}

.about-game-features {
  width: 70%;
  margin-left: 15%;
}

.home-cptscreenshots {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.home-cptscreenshots > img {
  width: 100%;
  max-width: 1200px;
}

.screenshots {
  margin-top: 0;
}

.screenshot-container {
  margin-top: -50px;
}

.screenshot {
  width: 60%;
  display: inline-block;
}

.screenshot > img {
  width: 100%;
}

.screenshot-right {
  text-align: right;
}

.screenshot-caption {
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.press-kit {
  padding-top: 40px;
  padding-bottom: 100px;
}

.press-kit-text {
  margin-left: 15%;
  margin-right: 15%;
}



.game-background {
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.game-background-cpt {
  background-image: url(../images/games/backgroundCPT.png);
}

.game-background-up {
  background-image: url(../images/games/backgroundUp.png);
}

.game-background-don {
  background-image: url(../images/games/backgroundDon.png);
}

.game-background-sat {
  background-image: url(../images/games/backgroundSat.png);
}

.game-info-left {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: center;
}

.game-info-right {
  display: inline-block;
  vertical-align: bottom;
  width: 50%;
  text-align: center;
}

@media (max-width: 840px) {
  .game-info-left {
    width: 100%;
  }

  .game-info-right {
    width: 100%;
  }
}

.black-bar {
  background-color: rgb(22, 22, 22);
  height: 40px;
  width: 100%;
}

.game-text {
  text-align: left;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  line-height: 140%;
  letter-spacing: 0.5px;
  margin-top: 30px;
}

.game-text-cpt {
  color: white;
}

.game-text-don {
  color: #6d0f0f;
}

.game-text-up {
  color: white;
}

.game-text-sat {
  color: #21201d;
}

.game-logo {
  text-align: center;
  margin-top: 60px;
  width: 100%;
}

.game-logo > img {
  width: 80%;
  max-width: 300px;
}

.game-logo-cpt > img {
  width: 70%;
  max-width: 500px;
}

.game-logo-up > img {
  width: 80%;
  max-width: 200px;
}

.game-logo-sat > img {
  width: 80%;
  max-width: 400px;
}

.download-buttons-games {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-block;
}

.download-button-game {

}

.download-buttons-placeholder {
  padding-bottom: 30px;
}

.download-buttons-placeholder > img {
  width: 80%;
  max-width: 500px;
}

.games-device-pic-landscape {
  width: 80%;
}

.games-device-pic-portrait {
  width: 45%;
}



.about-background {
  background-color: rgb(22, 22, 22);
}

.about-header {
  width: 100%;
  text-align: center;
  color: white;
}

.about-title {
  padding-top: 70px;
}

.about-pics {
  width: 100%;
  padding-top: 120px;
  text-align: center;
}

.about-box {
  width: 300px;
  display: inline-block;
}

.about-pic {
  margin-right: 15px;
  margin-left: 15px;
}

.about-name {
  margin-top: 20px;
  width: 100%;
  font-family: OriyaMN, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.about-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 15px;
}

.about-buffer {
  width: 100%;
  height: 60px;
}

.about-buffer-bottom {
  width: 100%;
  height: 120px;
}


/**
 * 5.13 Multisite
 * ----------------------------------------------------------------------------
 */

.site-main .mu_register {
  margin: 0 auto;
  max-width: 604px;
  width: 100%;
}

.mu_alert {
  margin-top: 25px;
}

.site-main .mu_register input[type="submit"],
.site-main .mu_register #blog_title,
.site-main .mu_register #user_email,
.site-main .mu_register #blogname,
.site-main .mu_register #user_name {
  font-size: inherit;
  width: 270px;
}

.site-main .mu_register input[type="submit"] {
  width: auto;
}


/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

@media (max-width: 1599px) {
  .site {
    border: 0;
  }
}

@media (max-width: 1069px) {
  .sidebar img.alignleft,
  .sidebar .wp-caption.alignleft {
    margin-left: 0;
  }

  .sidebar img.alignright,
  .sidebar .wp-caption.alignright {
    margin-right: 0;
  }

  .error404 .page-header {
    margin-left: auto;
    max-width: 604px;
    width: 100%;
  }

  .error404 .page-title {
    font-size: 24px;
    padding: 180px;
  }

  .error404 .page-title:before {
    font-size: 554px;
  }

  .attachment .image-navigation {
    max-width: 724px;
  }

  .image-navigation .nav-previous,
  .image-navigation .nav-next {
    position: static;
  }

  .site-main .widget-area {
    margin-right: 60px;
  }
}

@media (max-width: 999px) {
  .sidebar .entry-header,
  .sidebar .entry-content,
  .sidebar .entry-summary,
  .sidebar .entry-meta,
  .sidebar .comment-list,
  .sidebar .comment-reply-title,
  .sidebar .comment-navigation,
  .sidebar .comment-respond .comment-form,
  .sidebar .featured-gallery,
  .sidebar .post-navigation .nav-links,
  .author.sidebar .author-info {
    max-width: 604px;
    padding-left: 0;
    padding-right: 0;
  }

  .attachment .entry-meta {
    float: left;
    text-align: left;
    width: 100%;
  }

  .attachment .entry-content {
    max-width: 100%;
    padding: 40px 0;
  }

  .format-status .entry-content {
    padding-top: 40px;
  }

  .format-status .entry-meta {
    padding-bottom: 40px;
  }

  .sidebar .format-status .entry-content,
  .sidebar .format-status .entry-meta {
    padding-left: 35px;
  }

  .sidebar .format-status .entry-content:before,
  .sidebar .format-status .entry-meta:before {
    left: 10px;
  }

  .sidebar .format-status .entry-content p:first-child:before {
    left: 4px;
  }

  .sidebar .paging-navigation .nav-links {
    padding: 0 60px;
  }

  .site-main .sidebar-container {
    height: auto;
    margin: 0 auto;
    max-width: 604px;
    position: relative;
    top: 20px;
  }

  .site-main .widget-area {
    float: none;
    margin: 0;
    width: 100%;
  }

  .sidebar .site-footer .widget-area {
    max-width: 100%;
    left: 0;
  }
}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
  .site-header .home-link {
    min-height: 0;
  }
  .site-title {
    font-size: 36px;
    padding: 8px 0 10px;
  }
  .entry-content img.alignleft,
  .entry-content .wp-caption.alignleft {
    margin-left: 0;
  }

  .entry-content img.alignright,
  .entry-content .wp-caption.alignright {
    margin-right: 0;
  }

  .attachment .image-navigation,
  .attachment .entry-attachment .attachment {
    max-width: 604px;
    padding: 0;
    width: 100%;
  }

  .gallery-caption {
    display: none;
  }
}

@media (max-width: 840px) {
  .site-title {
    font-size: 30px;
  }

  #content .format-status .entry-content,
  #content .format-status .entry-met {
    padding-left: 35px;
  }

  /* Small menu */
  .menu-toggle {
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: OriyaMN, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    margin: 0;
  }

  .menu-toggle,
  .menu-toggle:hover,
  .menu-toggle:focus,
  .menu-toggle:active {
    background: none;
    border: none;
    color: white;
    padding: 27px 20px 27px 20px;
  }

  .menu-toggle:focus {
    /*outline: thin dotted;*/
  }

  .menu-toggle:after {
    content: "\f502";
    font-size: 12px;
    padding-left: 8px;
    vertical-align: -4px;
  }

  .toggled-on .menu-toggle:after {
    content: "\f500";
    vertical-align: 2px;
  }

  .toggled-on .nav-menu,
  .toggled-on .nav-menu > ul {
    display: block;
    margin-left: 0;
    padding: 0;
    width: 100%;
  }

  .toggled-on li,
  .toggled-on .children {
    display: block;
  }

  .toggled-on .nav-menu li > ul {
    background-color: transparent;
    display: block;
    float: none;
    margin-left: 20px;
    position: relative;
    left: auto;
    top: auto;
  }

  .toggled-on .nav-menu li > ul a {
    color: #141412;
    width: auto;
  }

  .toggled-on .nav-menu li:hover > a,
  .toggled-on .nav-menu .children a {
    background-color: transparent;
    color: #141412;
  }

  .toggled-on .nav-menu > li a:hover,
  .toggled-on .nav-menu > ul a:hover {
    background-color: #fff;
    color: #222;
  }

  .toggled-on .nav-menu > li a:focus,
  .toggled-on .nav-menu > ul a:focus {
    background-color: #fff;
    color: #222;
  }

  ul.nav-menu,
  div.nav-menu > ul {
    display: none;
  }

  #content .featured-gallery {
    padding-left: 24px;
  }

  .gallery-columns-1 .gallery-item {
    margin-right: 0;
    width: 100%;
  }

  .entry-title,
  .format-chat .entry-title,
  .format-image .entry-title,
  .format-gallery .entry-title,
  .format-video .entry-title {
    font-size: 22px;
    font-weight: bold;
  }

  .format-quote blockquote,
  .format-status .entry-content {
    font-size: 18px;
  }

  .format-quote blockquote small,
  .format-quote blockquote cite {
    font-size: 13px;
  }

  .error404 .page-title {
    padding: 40px 0 0;
  }

  .error404 .page-title:before {
    content: normal;
  }

  .comment-author {
    margin-right: 30px;
  }

  .comment-author .avatar {
    height: auto;
    max-width: 100%;
  }

  .comment-metadata,
  .comment-content,
  .comment-list .reply {
    width: 70%;
    width: -webkit-calc(100% - 104px);
    width:         calc(100% - 104px);
  }

  .comment-form input[type="text"],
  .comment-form input[type="email"],
  .comment-form input[type="url"] {
    width: -webkit-calc(100% - 120px);
    width:         calc(100% - 120px);
  }

  .comment-form textarea {
    height: 80px; /* Smaller field for mobile. */
  }

  /* Audio */
  .format-audio .entry-content:before {
    display: none;
  }

  .format-audio .audio-content {
    background-image: none;
    float: none;
    padding-left: 0;
    width: auto;
  }
}

/* Mobile devices */
@media (max-width: 359px) {
  .site-title {
    font-weight: normal;
  }
  .site-description {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
  }
  .gallery {
    margin-left: 0;
  }

  .gallery .gallery-item,
  .gallery-columns-2.gallery-size-thumbnail .gallery-item {
    max-width: none;
    width: 49%;
    width: -webkit-calc(50% - 4px);
    width:         calc(50% - 4px);
  }

  .gallery-columns-1.gallery-size-medium,
  .gallery-columns-1.gallery-size-thumbnail,
  .gallery-columns-2.gallery-size-thumbnail,
  .gallery-columns-3.gallery-size-thumbnail {
    display: block;
  }

  .gallery-columns-1 .gallery-item,
  .gallery-columns-1.gallery-size-medium .gallery-item,
  .gallery-columns-1.gallery-size-thumbnail .gallery-item {
    text-align: center;
    width: 98%;
    width: -webkit-calc(100% - 4px);
    width:         calc(100% - 4px);
  }

  .gallery-columns-3 .gallery-item:nth-of-type(3n),
  .gallery-columns-5 .gallery-item:nth-of-type(5n),
  .gallery-columns-7 .gallery-item:nth-of-type(7n),
  .gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 4px;
  }

  .gallery br {
    display: none;
  }

  .gallery .gallery-item:nth-of-type(even) {
    margin-right: 0;
  }

  /* Comments */
  .comment-author {
    margin: 0 0 5px;
    max-width: 100%;
  }

  .comment-author .avatar {
    display: inline;
    margin: 0 5px 0 0;
    max-width: 20px;
  }

  .comment-metadata,
  .comment-content,
  .comment-list .reply {
    width: 100%;
  }
}


/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {

  .site-header .search-field {
    background-image: url(images/search-icon-2x.png);
  }

  .format-audio .audio-content,
  .format-status .entry-content:before,
  .format-status .entry-meta:before,
  .comment-list > li:after,
  .comment-list .children > li:before {
    background-image: url(images/dotted-line-2x.png);
  }
}

@media print {
  body {
    background: none !important;
    color: #000;
    font-size: 10pt;
  }

  footer a[rel="bookmark"]:link:after,
  footer a[rel="bookmark"]:visited:after {
    content: " [" attr(href) "] "; /* Show URLs */
  }

  .site {
    max-width: 98%;
  }

  .site-header {
    background-image: none !important;
  }

  .site-header .home-link {
    max-width: none;
    min-height: 0;
  }

  .site-title {
    color: #000;
    font-size: 21pt;
  }

  .site-description {
    font-size: 10pt;
  }

  .author-avatar,
  .site-footer,
  .comment-respond,
  .comments-area .comment-edit-link,
  .comments-area .reply,
  .comments-link,
  .entry-meta .edit-link,
  .page-links,
  .site-content nav,
  .widget-area,
  .main-navigation,
  .navbar,
  .more-link {
    display: none;
  }

  .entry-header,
  .entry-content,
  .entry-summary,
  .entry-meta {
    margin: 0;
    width: 100%;
  }

  .page-title,
  .entry-title {
    font-size: 21pt;
  }

  .entry-meta,
  .entry-meta a {
    color: #444;
    font-size: 10pt;
  }

  .entry-content img.alignleft,
  .entry-content .wp-caption.alignleft {
    margin-left: 0;
  }

  .entry-content img.alignright,
  .entry-content .wp-caption.alignright {
    margin-right: 0;
  }

  .format-image .entry-content .size-full {
    margin: 0;
  }

  /* Remove colors from post formats */
  .hentry {
    background-color: #fff;
  }

  /* Comments */
  .comments-area > li.comment {
    background: none;
    position: relative;
    width: auto;
  }

  .comment-metadata {
    float: none;
  }

  .comment-author .fn,
  .comment-reply-link,
  .comment-reply-login {
    color: #333;
  }
}
