<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>Brothers Flint</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="site">
      {{> navbar}}
      <div class="site-main home-background">
        {{> content}}
      </div>
      {{> footer}}
    </div>
  </body>
</html>
