.site-footer {
  background-color: rgb(22, 22, 22);
  border-top: 1px solid #ffffff;
  color: white;
  font-family: OriyaMN, Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}

.site-info {
  padding: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.copyright {
  padding-top: 5px;
  font-size: 10px;
}
