<div class="site-header-buffer"></div>
<header class="site-header">
  <a href="//tobyflint.github.io/" class="navbar-logo"><img src="images/BFLogo.png" alt="Brothers Flint"></a>
  <input type="checkbox" class="menu-toggle" id="menuToggle">
  <label for="menuToggle" class="menu-toggle-image"></label>
  <nav class="main-navigation">
    <ul class="menu">
      <li id="home" class="menu-item {{#home_selected}}current-menu-item{{/home_selected}}"><a href="//tobyflint.github.io/">Home</a></li>
      <li id="blog" class="menu-item"><a href="//blog.brothersflint.com/">Blog</a></li>
      <li id="games" class="menu-item {{#games_selected}}current-menu-item{{/games_selected}}"><a href="//tobyflint.github.io/games">Games</a></li>
      <li id="about" class="menu-item {{#about_selected}}current-menu-item{{/about_selected}}"><a href="//tobyflint.github.io/about">About</a></li>
      <li class="menu-item menu-social-buttons">
        <a target="_blank" class="menu-social-button social-button-fb" href="https://www.facebook.com/brothersflintmobileappdev"></a>
        <a target="_blank" class="menu-social-button social-button-twit" href="https://twitter.com/BrothersFlint"></a>
        <a target="_blank" class="menu-social-button social-button-yt" href="https://www.youtube.com/channel/UCqE1nImG1kXj7OqURME1sJg"></a>
      </li>
    </ul>
  </nav>
</header>
