<div class="home-text">
  <h2>
    <img src="images/HeaderAccent.png" class="header-accent" />
    PRIVACY POLICY
    <img src="images/HeaderAccent.png" class="header-accent" />
  </h2>
  <div class="about-game">
Hey there!
<br><br>
We collect anonymous data for crash reports so that we can make our games better.
<br><br>
Any of our games with ads (Up &amp; Away, Red Hearts) use your device's advertising id to serve you tailored ads.
<br><br>
If you have any questions about our Privacy Policy, please contact info (at) brothersflint (dot) com.
  </div>
</div>