<div class="home-title">
  <img class="home-title-splash" src="images/home/CPTSplash.png" />
</div>
<div class="home-platform-icons">
  <img src="images/home/PlatformIcons.png" />
</div>
<div class="primary-video">
  <iframe id="youtubeVideo" width="10" height="10" src="https://www.youtube.com/embed/dK_VDHSqHUg?rel=0" frameborder="2" allowfullscreen></iframe>
</div>

<div class="steam-widget">
  <iframe id="steamWidget" src="http://store.steampowered.com/widget/444020/" width="10" height="10" frameborder="0" scrolling="no"></iframe>
</div>

<script type="text/javascript">
  window.onload = resizeIFrames;
  window.onresize = resizeIFrames;
  function resizeIFrames() {
    var ytVid = document.getElementById('youtubeVideo');
    var widget = document.getElementById('steamWidget');
    ytVid.width = Math.min(window.innerWidth * 0.8, 800);
    ytVid.height = ytVid.width * (9.0 / 16.0);

    widget.width = Math.min(window.innerWidth * 1.0, 600);
    widget.height = 190;
    if(window.innerWidth <= 580) {
      widget.width = window.innerWidth * 2;
    }
  }
  resizeIFrames();
</script>
<!-- <div class="download-buttons-home">
  <a target="_blank" href="https://itunes.apple.com/nz/app/up-away/id909800185?mt=8" class="download-button button-steam button-steam-rollover"></a>
  <a target="_blank" href="https://itunes.apple.com/nz/app/up-away/id909800185?mt=8" class="download-button button-app-store button-rollover"></a>
  <a target="_blank" href="https://play.google.com/store/apps/details?id=com.brothersflint.upandaway" class="download-button button-play-store button-rollover"></a>
</div> -->

<div class="home-text">
  <h2>
    <img src="images/HeaderAccent.png" class="header-accent" />
    ABOUT THE GAME
    <img src="images/HeaderAccent.png" class="header-accent" />
  </h2>
  <div class="about-game">
    Created by two brothers, <em>Coffee Pot Terrarium</em> is a turn-based game of tact and tile manipulation. Raise new pathways to traverse the map. Drop tiles to eliminate the enemies. Your skills charge each turn so you will need to tactfully decide when to activate them.
    <br><br>
    Each level introduces new challenges, enemies, and encounters to overcome. It's a blend of the tactics and puzzle genres, with a result that is uniquely its own. Every feature of <em>Coffee Pot Terrarium</em> is carefully designed, from the art and music to the code and gameplay. It's a true indie game, so if you like it, tell your friends about it!
  </div>
</div>
<div class="home-text">
  <h2>
    <img src="images/HeaderAccent.png" class="header-accent" />
    SCREENSHOTS
    <img src="images/HeaderAccent.png" class="header-accent" />
  </h2>
  <div class="home-cptscreenshots">
    <img src="images/home/Screenshots.png" />
  </div>
</div>
<div class="press-kit home-text">
  <h2>
    <img src="images/HeaderAccent.png" class="header-accent" />
    PRESS KIT
    <img src="images/HeaderAccent.png" class="header-accent" />
  </h2>
  <div class="press-kit-text">
    Includes official screenshots, trailer link, and info on <em>Coffee Pot Terrarium</em> and Brothers Flint.
    <br>
    <a href="CPT_PressKit.zip">Download .zip (5.4 MB)</a>
  </div>
  <br>
  <div class="press-kit-text">
    Thanks for checking out our game! If you'd like to get in touch with us, you can reach us via email at info (at) brothersflint (dot) com or send us a message via social media.
  </div>
</div>
