<div class="home-title">
  <img class="home-title-splash" src="images/home/CPTSplash.png" />
</div>
<div class="home-platform-icons">
  <img src="images/home/PlatformIcons.png" />
</div>
<div class="primary-video">
  <iframe id="youtubeVideo" width="10" height="10" src="https://www.youtube.com/embed/dK_VDHSqHUg?rel=0" frameborder="2" allowfullscreen></iframe>
</div>

<div class="steam-widget">
  <iframe id="steamWidget" src="http://store.steampowered.com/widget/444020/" width="10" height="10" frameborder="0" scrolling="no"></iframe>
</div>

<div class="humble-widget">
  <iframe id="humbleWidget" src="https://www.humblebundle.com/widget/v2/product/coffee_pot_terrarium/srdemkOl7F?theme=dark" width="526" height="330" style="border: none;" scrolling="no" frameborder="0"></iframe>
</div>

<script type="text/javascript">
  window.onload = resizeIFrames;
  window.onresize = resizeIFrames;
  function resizeIFrames() {
    var ytVid = document.getElementById('youtubeVideo');
    ytVid.width = Math.min(window.innerWidth * 0.8, 800);
    ytVid.height = ytVid.width * (9.0 / 16.0);

    var steamWidget = document.getElementById('steamWidget');
    steamWidget.width = Math.min(window.innerWidth * 1.0, 600);
    steamWidget.height = 190;
    if(window.innerWidth <= 580) {
      steamWidget.width = window.innerWidth * 2;
    }

    var humbleWidget = document.getElementById('humbleWidget');
    humbleWidget.width = Math.min(window.innerWidth * 1.0, 526);
    humbleWidget.height = 330;
    if(window.innerWidth <= 580) {
      humbleWidget.width = window.innerWidth * 2;
    }
  }
  resizeIFrames();
</script>
<!-- <div class="download-buttons-home">
  <a target="_blank" href="https://itunes.apple.com/nz/app/up-away/id909800185?mt=8" class="download-button button-steam button-steam-rollover"></a>
  <a target="_blank" href="https://itunes.apple.com/nz/app/up-away/id909800185?mt=8" class="download-button button-app-store button-rollover"></a>
  <a target="_blank" href="https://play.google.com/store/apps/details?id=com.brothersflint.upandaway" class="download-button button-play-store button-rollover"></a>
</div> -->

<div class="home-text">
  <h2>
    <img src="images/HeaderAccent.png" class="header-accent" />
    ABOUT THE GAME
    <img src="images/HeaderAccent.png" class="header-accent" />
  </h2>
  <div class="about-game">
    Created by two brothers, <em>Coffee Pot Terrarium</em> is a turn-based puzzle game of tile manipulation. Raise new pathways to traverse the map, drop tiles to eliminate the enemy. You'll find yourself in situations where you need to evaluate your options and take risks, assess enemy movement and attack ranges, create new paths to skirt danger, and find critical spots in the enemy's position.
    <br><br>
    Each level introduces new challenges, enemies, and encounters to overcome. It's a blend of the tactics and puzzle genres, with a result that is uniquely its own. Every feature of <em>Coffee Pot Terrarium</em> is carefully designed, from the art and music to the code and gameplay. It's a true indie game, so if you like it, tell your friends about it!
  </div>
</div>
<div class="home-text">
  <h2>
    <img src="images/HeaderAccent.png" class="header-accent" />
    SCREENSHOTS
    <img src="images/HeaderAccent.png" class="header-accent" />
  </h2>
  <div class="home-cptscreenshots">
    <img src="images/home/Screenshots.png" />
  </div>
</div>
<div class="press-kit home-text">
  <h2>
    <img src="images/HeaderAccent.png" class="header-accent" />
    PRESS KIT
    <img src="images/HeaderAccent.png" class="header-accent" />
  </h2>
  <div class="press-kit-text">
    Includes official screenshots, trailer link, and info on <em>Coffee Pot Terrarium</em> and Brothers Flint.
    <br>
    <a href="CPT_PressKit.zip">Download .zip (5.4 MB)</a>
  </div>
  <br>
  <div class="press-kit-text">
    Thanks for checking out our game! If you'd like to get in touch with us, you can reach us via email at info (at) brothersflint (dot) com or send us a message via social media.
  </div>
</div>
